<div class="container">
    <h1>My name is ChildOfLazyChild</h1>
    <h2>I'm <u>NOT</u> a lazy loaded component</h2>
    <div class="structure">
        <ul>
            <li><div>lazy-page.component</div>
                <ul>
                    <li><div>lazy-child.component</div>
                        <ul>
                            <li><div><strong>child-of-lazy-child.component</strong> (Your are here)</div></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
