<h2>Reactive Form</h2>

<mat-slide-toggle [(ngModel)]="coolView" (change)="clear()">{{ coolView ? ' Cool View 😎' : 'Ugly View 🤢' }}
</mat-slide-toggle>

<form [formGroup]="form" (ngSubmit)="onSubmitReactive()">
    <ng-container *ngIf="!coolView">
        <div class="form-field">
            <label>First Name:</label>
            <input type="text" formControlName="firstName">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input type="password" formControlName="password">
        </div>
        <div class="form-field">
            <label>Remember me: </label>
            <input type="checkbox" formControlName="remember">
        </div>
        <div class="form-field">
            <label>Gender: </label>
            <select formControlName="gender">
                <option value="male">
                    Male
                </option>
                <option value="female">
                    Female
                </option>
            </select>
        </div>
        <button type="button" (click)="addStreet()">
            Add new street
        </button>
        <div class="form-field">
            <div formArrayName="streets" *ngFor="let control of form.get('streets')['controls']; index as i">
                <label>Street: </label>
                <input [formControl]="control" />
                <button (click)="removeStreet(i)">remove</button>
            </div>
        </div>
        <p>
            <button type="submit" [disabled]="!form.valid">Submit</button>
        </p>
    </ng-container>
    <ng-container *ngIf="coolView">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </ng-container>
</form>

<hr>

<mat-card style="margin-top: 20px; text-align: left;" *ngIf="dataToSubmit">
    <mat-card-header>
        <mat-card-title>Submitted Data</mat-card-title>
        <mat-card-subtitle>submitted date: {{ submitteDate | date: 'dd/MM/yyyy HH:mm:ss'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <pre>{{ dataToSubmit | json }}</pre>
      </mat-card-content>
</mat-card>