<div class="top-section">
  <div class="content">
    <div class="container">
      <p class="text">
        🎓 Angular Web Advanced 🎓
      </p>
    </div>
  </div>

  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/form-examples" routerLinkActive="active">Forms</a>
    <a routerLink="/routing-page" routerLinkActive="active">Routing</a>
    <a routerLink="/service-page" routerLinkActive="active">Services</a>
    <div class="animation start-home"></div>
  </nav>
</div>

<div class="bottom-section">
  <router-outlet></router-outlet>
</div>