<div class="directives-page-container">
    <h1>*ngIf Example</h1>
    <div class="monkey-container">
        <label>Show: </label>
        <input type="checkbox" [(ngModel)]="show">
        <div class="monkey-face">
            <div *ngIf="show">
                🙉
            </div>
            <div *ngIf="!show">
                🙈
            </div>
        </div>
    </div>

    <hr>

    <h1>*ngFor Example with ngClass</h1>
    <ul>
        <li *ngFor="let fruit of macedonia;let odd = odd" [ngClass]="odd ? 'odd' : 'even'">
            <span>{{ fruit.name }} - {{ fruit.icon }}</span>
        </li>
    </ul>

    <hr>

    <h1>Custom Directive</h1>
    <div class="custom-directive-box">
        <div appHighlight [hlColor]="customColor">
            Hello! Hover on me to change my color!<br>
            By default i'm red.<br>
            On mousein I become violet.<br>
            On mouseout I become green.<br>
            <br>
            You can also choose a custom color<br>
            picking it from the tools on the right <br>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Color </mat-label>
                <mat-select [(ngModel)]="customColor">
                    <mat-option *ngFor="let color of customColorList" [value]="color">{{ color }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Custom color </mat-label>
                <input matInput type="color" [(ngModel)]="customColor">
            </mat-form-field>
            <div>User color: {{ customColor }}</div>
        </div>
    </div>
</div>