<h2>Template Driven Form</h2>

<mat-slide-toggle [(ngModel)]="coolView" (change)="clear()">{{ coolView ? ' Cool View 😎' : 'Ugly View 🤢' }}
</mat-slide-toggle>

<form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased(myForm)">
    <ng-container *ngIf="!coolView">
        <div class="form-field">
            <label>Username:</label>
            <input type="text" name="username" [regexValidator]="regEx" [(ngModel)]="user.username" required
                #username="ngModel">
            <div *ngIf="username.invalid" class="alert alert-danger">
                <div *ngIf="username.errors.forbidden">
                    Cannot be only numbers
                </div>
            </div>
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input type="password" name="password" [(ngModel)]="user.password" required>
        </div>
        <p>
            <button type="submit" [disabled]="!myForm.valid">Submit</button>
        </p>
    </ng-container>
    <ng-container *ngIf="coolView">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput name="username" [regexValidator]="regEx" [(ngModel)]="user.username" required
                    #username="ngModel">

            </mat-form-field>
            <mat-error *ngIf="username.invalid && username.errors.forbidden">
                Cannot be only numbers
            </mat-error>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput name="password" type="password" [(ngModel)]="user.password" required>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    </ng-container>
</form>

<hr>
<div style="text-align: left;">
    <h2>"Live" model</h2>
    <pre>{{ user | json}}</pre>
</div>
    