$bg-color-dark: #34495e;
$bg-color-light: #7598bb;

body {
    background-color: $bg-color-light;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-field {
    margin-bottom: 10px;
}